/* colors */
$red-400: rgb(239,52,52);
$red-500:  rgb(237, 32, 31);

/* gradients */
$fade-white: linear-gradient(1turn, rgb(143, 143, 143), 5%, rgb(255, 255, 255));
$fade-red: linear-gradient(1turn, rgb(255, 255, 255), 5%, rgb(237, 32, 31));
